.portfolio{
    display: flex;
    background: linear-gradient(90deg, white 50%, #5762D5 50%);
    justify-content: center;
    align-items: center;
    z-index: 1;

    .portfolioBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 70%;
        width: 100%;
        
        .item{
            width: 250px;
            height: 350px;
            margin: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all 0.5s ease;
            cursor: pointer;
            border-radius: 10px;

            h3{
                position: absolute;
                font-size: 20px;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover{
                background-color: #5762D5;
                color: black;
                img{
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
    }
}