.about{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;

    .left{
        flex: .5;
        display: flex;
        overflow: hidden;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        .containerTop{
            display: flex;
            justify-content: center;
            align-items: center;

            .imgCont{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background-color: #5762D5;
                margin: 10px;

                img{
                    height: 100%;
                }
            }

        }

        .containerBottom{
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            margin-left: 10px;

            h1{
                font-size: 120px;
            }
            h2{
                font-size: 50px;
                color: #5762D5;
            }
            h3{
                font-size: 60px;
            }
        }
        
       
    }
    .right{
        flex: .5;
        display: flex;
        overflow: hidden;
        justify-content: center;
        flex-direction: column;
        background-color: #5762D5;
        height: 100%;
        
        .topSection{
            display: flex;
            justify-content: start;
            align-items: start;
            margin: 10px;
            h1{
                font-size: 120px;
                color: white;
            }   
        }
        .bottomSection{
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            margin: 10px;

            h3{
                font-size: 30px;
                color: white;
            }
        }
        
    }
}